html {
  scroll-behavior: smooth;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  background-color: #111;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
